body {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;

}

.forca {
    width: 400px;
    width: 466px;
    margin-top: 59px;
    margin-left: 39px;
}

.escolher_palavra {
    font-family: "Roboto",
        sans-serif;
    width: 200px;
    height: 60px;
    background-color: #27AE60;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 89px;
    position: absolute;
    margin-left: 1088px
}

.layout {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}



.letra-do-jogo {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 10px;
    text-transform: uppercase;
    align-self: flex-start;
}

.palavra-do-jogo {

    width: 323px;
    height: 68px;



    display: flex;
    align-self: flex-end;
    font-size: 50px;
    line-height: 68px;
    align-items: center;
    text-align: center;
    margin-right: 61px;


}




.letras {
    width: 838px;
    height: 80px;

    display: flex;
    flex-wrap: wrap;
    margin-left: 211px;






}

.letra {
    font-style: normal;
    font-size: 16px;
    width: 40px;
    height: 40px;
    margin: 12px;
    color: #39739D;
    background: #E1ECF4;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    text-transform: uppercase;

}

.selecionada {
    position: relative;
    top: -20px;
}

.letra_escolher {
    display: inline-block;
    margin-right: 5px;
}

.vencedora {
    color: green;
}

.perdedora {
    color: red;
}

.chute {
    display: flex;
    justify-content: center;
    margin-top: 68px;
    align-items: center;
}

.input-chute {
    box-sizing: border-box;
    width: 353px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    margin-left: 12px;
}

.button-chute {
    box-sizing: border-box;
    margin-left: 15px;


    width: 100px;
    height: 40px;

    background: #E1ECF4;
    border: 1px solid #7AA7C7;
    border-radius: 3px;

}