body {
    font-family: 'Noto Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
    line-height: 68px;

}

.forca {
    width: 400px;
    width: 466px;
    margin-top: 59px;
    margin-left: 39px;
}

.escolher_palavra {
    font-family: "Roboto",
        sans-serif;
    width: 200px;
    height: 60px;
    background-color: #27AE60;
    color: white;
    border: none;
    border-radius: 8px;
    margin-top: 89px;
    position: absolute;
    margin-left: 1088px
}

.layout {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
}



.letra-do-jogo {
    font-size: 2rem;
    font-weight: bold;
    margin-right: 10px;
    text-transform: uppercase;
    align-self: flex-start;
}

.palavra-do-jogo {

    width: 323px;
    height: 68px;



    display: flex;
    align-self: flex-end;
    font-size: 50px;
    line-height: 68px;
    align-items: center;
    text-align: center;
    margin-right: 61px;


}




.letras {
    display: flex;
    flex-wrap: wrap;
    width: 43%;

    justify-content: center;
    height: 54px;
    margin: auto;
}



.letras>button[disabled] {
    background: #9FAAB5;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #798A9F;
}

.letras>button {
    background: #E1ECF4;
    border: 1px solid #7AA7C7;
    border-radius: 3px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    color: #39739D;

}





.letrinha {
    text-transform: uppercase;
    font-family: 'Roboto';
    font-size: 16px;



}

.letra {
    box-sizing: border-box;
    width: 40px;
    height: 40px;

    background: #E1ECF4;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
}


.letra_escolher {
    display: inline-block;
    margin-right: 5px;

    font-family: 'Noto Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 50px;
}

.vencedora {
    color: green;
}

.perdedora {
    color: red;
}

.chute {

    display: none;
    justify-content: center;
    margin-top: 68px;
    align-items: center;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
}

.input-chute {
    box-sizing: border-box;
    width: 353px;
    height: 40px;
    background: #FFFFFF;
    border: 1px solid #CCCCCC;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    border-radius: 3px;
    margin-left: 12px;
}

.button-chute {
    color: #3C76A1;
    width: 100px;
    height: 40px;

    font-family: 'Roboto';
    font-size: 16px;
    background: #E1ECF4;
    border: 1px solid #7AA7C7;
    border-radius: 3px;


}

/* .chute>button[disabled] {
    background: #9FAAB5;
    font-family: 'Roboto';
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #7AA7C7;
    color: #798A9F;
} */



.desabilitado {
    background: #9FAAB5;
    border: 1px solid #7AA7C7;
    border-radius: 3px;
}